body {
    font-family: sans-serif;
    background-color: #584141;
    color: white;
    margin: 0;
}

header {
    display:flex;
    justify-content: space-between;
    padding: 35px;
    margin-bottom: 20px;
    align-items: flex-start;
}


.button {
    padding: 15px;
    font-weight: 1000;
    font-size:35px;
    border-radius: 10px;
    text-decoration: none;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-evenly;
    background-color: black
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;

}

h1 {
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}


article {
   display: flex;
   justify-content: center;
}



footer {
   display: flex;
   width: 110%;
}

footer p {
   display: flex;
   width: 110%;
   margin-right: 100px;
}


h2 {
     text-align: center;
}
img {
    display:flex;
   justify-content: center;
}
